@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Bree+Serif&family=Cascadia+Mono:ital,wght@0,200..700;1,200..700&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Lobster&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Outfit:wght@100..900&family=Pacifico&family=Playwrite+DE+SAS:wght@100..400&family=Roboto:ital,wght@0,100..900;1,100..900&family=Saira+Stencil:ital,wght@0,100..900;1,100..900&display=swap');


.App-Header {
  padding: 0 0 28px;
  text-align: center;
}

.App-Header-inner {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: center;
}

.brand {
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
  letter-spacing: -0.5px;
  color: #f97316;
font-family: "Bree Serif", serif;
}

.brand span {
  color: #111827;
  margin-left: 4px;
  font-family: "Bree Serif", serif;
}

.tagline {
  margin: 0;
  font-size: 0.95rem;
  font-weight: 400;
  opacity: 0.95;
  max-width: 400px;
}

/* Mobile */
@media (max-width: 575px) {
  .brand {
    font-size: 1.6rem;
  }

  .tagline {
    font-size: 0.85rem;
  }
}